<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="Content/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="Content/style.css"/>

<script src="Scripts/angular.min.js"></script>
<script src="Scripts/angular-ui-router.min.js"></script>

<script src="Angular/app.js"></script>
<script src="Angular/modules.js"></script>

<script src="Angular/todo-ctrl.js"></script>
<script src="Angular/todoService.js"></script>

<head>
    <meta charset="UTF-8">
    <title>ToDoApp</title>
</head>
<body ng-app="ToDoApp" ng-controller="ToDoCtrl as todo">
<div class="container">
    <h2>TO DO App</h2>
    <div class="row">
        <form ng-submit="todo.addTask()">
            <div class="col-md-10 col-sm-10">
                <input type="text" class="form-control" ng-model="todo.task" placeholder="My task..." required/>
            </div>
        </form>
        <div class="col-md-2 col-sm-2">
            <button type="button" class="btn btn-add" ng-click="todo.addTask()" ng-disabled="!todo.task">ADD TASK</button>
        </div>
    </div>

    <div class="row">
        <div class="taskList col-md-6 col-sm-12">
            <h3 class="taskList__header">to do</h3>
            <ul class="taskList__body list-group" ng-if="todo.tasks != null">
                <li class="task list-group-item clearfix" ng-repeat="task in todo.tasks | filter:{ isItDone: 'false'}">
                    <span class="task__text pull-left" ng-click="showDate = !showDate">{{task.task}}</span>
                    <br>
                    <div class="task__date" ng-class="{ 'hidden': ! showDate}">
                        <p>{{task.created | date: 'fullDate'}}</p>
                    </div>
                    <div class="task__actions">
                        <button type="button" class="btn btn-glyph" ng-click="todo.doneTask(task.id)">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button type="button" class="btn btn-glyph btn-glyph--red" ng-click="todo.deleteTask(task.id)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="taskList col-md-6 col-sm-12">
            <h3 class="taskList__header">done</h3>
            <ul class="taskList__body list-group" ng-if="todo.tasks != null">
                <li class="task list-group-item clearfix" ng-repeat="task in todo.tasks | filter:{ isItDone: 'true'}">
                    <span class="task__text pull-left" ng-click="showDate = !showDate">{{task.task}}</span>
                    <br>
                    <div class="task__date" ng-class="{ 'hidden': ! showDate}">
                        <p>{{task.created | date: 'fullDate'}}</p>
                    </div>
                    <div class="task__actions">
                        <button type="button" class="btn btn-glyph btn-glyph--undone"
                                ng-click="todo.undoneTask(task.id)">
                            <span class="glyphicon glyphicon-log-out"></span>
                        </button>
                        <button type="button" class="btn btn-glyph btn-glyph--red" ng-click="todo.deleteTask(task.id)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>