body {
  color: #2bc432; }

h3, h2 {
  text-align: center; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }

.btn-add {
  background-color: #2bc432;
  color: #145b17;
  width: 100%; }
  .btn-add:hover {
    background-color: #5fdc65;
    color: #145b17; }

.taskList__header {
  text-transform: uppercase; }

.task {
  margin-bottom: 10px; }
  .task__text {
    color: #333;
    word-break: break-all; }
  .task__actions {
    float: right; }

.btn-glyph {
  background-color: inherit;
  padding: 3px; }
  .btn-glyph--red {
    color: red; }
