body {
  color: #17c400; }

h3, h2 {
  text-align: center; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }

.btn-add {
  background-color: #17c400;
  color: #084500;
  width: 100%; }
  .btn-add:hover {
    background-color: #2dff12;
    color: #084500; }

.taskList__header {
  text-transform: uppercase; }

.task__text {
  color: #333; }

.task__actions {
  float: right; }

.btn-glyph {
  background-color: inherit;
  padding: 3px; }
  .btn-glyph--red {
    color: #ff191f; }
  .btn-glyph--undone {
    color: orange;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1); }
